@import '~@angular/material/theming';
@import './../../../theme.scss';

.login-form {
    width: 360px;
}

.forgottenPasswordLink {
  margin-top: 16px;
}

.primary {
  color: mat-color($default-primary);
}

.google-login-button {
    height: 40px !important;
    padding: 0px 8px !important;
}

.google-logo {
    font-size: 18px;
    margin-right: 18px;
}

h2.seperator {
    width: 100%;
    margin-top: 24px !important;
    display: flex;
    color: mat-color($default-primary);
}

h2.seperator:before,
h2.seperator:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid mat-color($default-primary);
    margin: auto;
}
