<div fxFill fxLayout="column" fxLayoutAlign="center center">
  <a routerLink="/home"><mat-icon class="mat-h2 logo" svgIcon="logo"></mat-icon></a>
  <div class="mat-h1">NBDIGI</div>
  <div class="mat-h2">Multimedialt bibliotek</div>
    <button class="google-login-button" mat-raised-button (click)="signInWithGoogle()">
      <mat-icon class="google-logo" svgIcon="google"></mat-icon>Logg inn med Google
    </button>
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="signInWithEmailAndPassword()" novalidate>
      <div fxLayout="column">
      <h2 class="mat-h2 seperator">Eller</h2>
      <mat-error *ngIf="loginForm.errors?.tooManyRequests">For mange forsøk. Prøv igjen senere</mat-error>
      <mat-form-field>
        <input type="text" matInput formControlName="email" placeholder="E-post">
        <mat-error *ngIf="email.errors?.userNotFound">Finner ikke bruker</mat-error>
        <mat-error *ngIf="email.errors?.invalidEmail">Ugyldig e-post</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput formControlName="password" placeholder="Passord">
        <mat-error *ngIf="password.errors?.wrongPassword">Passordet er feil eller du har ikke passord</mat-error>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.pristine">Logg inn</button>
      <div fxLayout="column" fxLayoutAlign="center center">
        <a class="forgottenPasswordLink primary" routerLink="/resetpassword">Glemt passord?</a>
      </div>
    </div>
    <div class="create-container" fxLayout="column" fxLayoutAlign="center center">
      <h2 class="mat-h2 seperator"></h2>
      <div>Har du ikke en konto?</div>
      <a class="primary" routerLink="/createaccount">Opprett konto</a>
    </div>
  </form>
</div>
