<mat-toolbar>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex>
        <div>
            <button mat-icon-button [routerLink]="['../']">
                <mat-icon>keyboard_backspace</mat-icon>
            </button>{{list?.name}}
        </div>
        <div>
            <app-favorite-list-menu-button [favorite]="list"></app-favorite-list-menu-button>
        </div>
    </div>
</mat-toolbar>
<app-items-section [showToolbar]="false" [list]="list" [mediaTypeResults]="items" [isDebugOn]="isDebugOn" tabindex="0"></app-items-section>
