<div id="searchbox-container" fxFill fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
  <div fxFlex="100" fxFlex.gt-sm="700px">
    <form class="search-form" [formGroup]="searchForm" (ngSubmit)="onSubmit()" novalidate>
      <mat-form-field fxFlex [floatLabel]="'never'" color="accent">
        <div matPrefix>
          <button type="submit" mat-icon-button>
            <mat-icon class="input-icon">search</mat-icon>
          </button>
        </div>
        <div matSuffix>
          <button type="button" mat-icon-button>
            <mat-icon class="input-icon" (click)="clear()" (dblclick)="onClearAll()" matTooltip="Dobbeltklikk for å nullstille hele søket">clear</mat-icon>
          </button>
        </div>
        <input type="text" aria-label="Søk" matInput [formControl]="queryControl" [matAutocomplete]="auto" tabindex="1">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="optionSelected($event)">
          <mat-option *ngFor="let hint of hints?.creators" [value]="hint">
            <div fxLayout="row" fxLayoutAlign="start center">
              <mat-icon>{{hint.type}}</mat-icon>
              <div>{{hint.label}}</div>
            </div>
          </mat-option>
          <mat-option *ngFor="let hint of hints?.places" [value]="hint">
            <div fxLayout="row" fxLayoutAlign="start center">
              <mat-icon>{{hint.type}}</mat-icon>
              <div>{{hint.label}}</div>
            </div>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>
</div>
