@use '@angular/material' as mat;
@use 'sass:map';

@mixin color($theme) {
  $primary: map.get($theme, primary);

  nbd-divider {
    .mat-primary {
      color: mat.get-color-from-palette($primary);
    }

    .mat-divider {
      border-top-color: mat.get-color-from-palette($primary) !important;
    }
  }
}

@mixin typography($theme) {
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }

  $typography-config: mat.get-typography-config($theme);
  @if $typography-config != null {
    @include typography($theme);
  }
}
