:host {
  cursor: pointer;
  padding: 5px;
}

.thumbnail {
  height: 90px;
  width: 100%;
  object-fit: contain;
}

.metadata-container {
  font-family: 'Roboto Condensed';
  min-height: 60px;
  padding: 7px 10px 0;
  overflow: hidden;
}

.mat-card {
  padding: 0px !important;
  margin: 0px !important;
}

.title {
  font-size: 16px;
}

.creator,
.issued,
.mediaType {
  font-size: 13px;
  line-height: 16px;
}

.mediaType:first-letter {
  text-transform: capitalize;
}
