mat-chip {
  cursor: pointer !important;
}

::ng-deep .mat-select-value-text {
  font-family: 'Roboto Condensed' !important;
}

::ng-deep .mat-option-text {
  font-family: 'Roboto Condensed';
}

.mediaType:first-letter, .sortOption:first-letter {
  text-transform: capitalize;
}

.genre-container,
.sort-container {
  margin-left: 8px;
}

.search-options-container {
  overflow-x: auto;
  overflow-y: hidden;
}

.checked {
  min-width: 32px;
}
