<div *ngIf="!showCreate" fxLayout="column">
  <h3>Legg til i liste</h3>
  <mat-nav-list>
    <mat-list-item
      *ngFor="let favorite of favoriteLists | async"
      (click)="addToList(favorite)"
    >
      {{ favorite.name }}
    </mat-list-item>
  </mat-nav-list>
  <div
    class="actions"
    fxLayout="row"
    fxLayoutAlign="end center"
    fxLayoutGap="10px"
  >
    <button mat-button mat-dialog-close>Avbryt</button>
    <button mat-button (click)="toggleCreate()">Lag ny liste</button>
  </div>
</div>
<nbd-create-favorite-list
  *ngIf="showCreate"
  (cancelSelected)="toggleCreate()"
  (listNameSelected)="addList($event)"
></nbd-create-favorite-list>
