:host {
  overflow: visible;
}

.item-details-container {
  position: relative;
}

.close {
  position: relative;
  top: 45px;
  right: 5px;
  text-align: right;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card {
  padding: 0px !important;
  box-shadow: none !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card-content {
  top: -40px;
  position: relative;
}
