<div class="item-details-container">
  <ng-container *ngIf="!(loading$ | async)">
    <ng-container *ngIf="(item$ | async) as item">
      <mat-card>
        <mat-card-content>
          <div class="close">
            <nbd-item-menu-button
              [item]="item"
              [config]="config"
            ></nbd-item-menu-button>
            <button mat-icon-button (click)="close()">
              <mat-icon>close</mat-icon>
            </button></div
          >
          <div class="head">
            <nbd-item-details-head [item]="item"></nbd-item-details-head>
          </div>
          <mat-divider></mat-divider>
          <div class="metadata">
            <nbd-item-details-metadata
              [manifest]="manifest$ | async"
            ></nbd-item-details-metadata>
          </div>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </ng-container>
</div>
