<div>
  <mat-toolbar>
    <div fxFill fxLayout="row" fxLayoutAlign="space-between center">
      <h3>Identifikatorer</h3>
      <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <div class="ids-container" fxLayout="column">
    <nbd-id-copy-value
      [label]="'SesamId'"
      [value]="item.id"
    ></nbd-id-copy-value>
    <nbd-id-copy-value [label]="'Urn'" [value]="item.urn"></nbd-id-copy-value>
    <nbd-id-copy-value
      [label]="'OaiId'"
      [value]="item.oaiId"
    ></nbd-id-copy-value>
  </div>
</div>
