<mat-toolbar>
  <div class="viewer-header-container" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
    <div>
      <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="truncate">
      {{item?.title}}
    </div>
  </div>
</mat-toolbar>
<div *ngIf="item" class="viewer-container">
  <mime-viewer [manifestUri]="item.manifestUri" [canvasIndex]="item.currentCanvasId" [config]="config" (manifestChanged)="onManifestChange($event)"
    (pageChanged)="onPageChange($event)"></mime-viewer>
</div>
