<mat-toolbar color="primary">
  <div class="viewer-header-container" fxFlex="100" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
    <div>
      <button mat-icon-button mat-dialog-close matTooltip="Lukk">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div fxFlex class="truncate" [matTooltip]="item?.title">
      {{item?.title}}
    </div>
    <div>
      <app-favorite-button></app-favorite-button>
    </div>
  </div>
</mat-toolbar>
<div *ngIf="item" class="viewer-container">
  <mime-viewer [manifestUri]="item.manifestUri" [canvasIndex]="item.currentCanvasId" [config]="config" (manifestChanged)="onManifestChange($event)"
    (pageChanged)="onPageChange($event)"></mime-viewer>
</div>
