<mat-toolbar>
  <div class="viewer-header-container" fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
    <div>
      <button mat-icon-button mat-dialog-close matTooltip="Lukk">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div fxFlex class="truncate" [matTooltip]="item?.title">
      {{item?.title}}
    </div>
    <div>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item matTooltip="Legg til" (click)="addToFavorites.emit(item)">
          <mat-icon>playlist_add</mat-icon>
          <span>Legg til i liste</span>
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
<div *ngIf="item" class="viewer-container">
  <mime-viewer [manifestUri]="item.manifestUri" [canvasIndex]="item.currentCanvasId" [config]="config" (manifestChanged)="onManifestChange($event)"
    (pageChanged)="onPageChange($event)"></mime-viewer>
</div>
