.item-details-head-container {
  padding: 10px;
}

.thumbnail-container {
  width: 100px;
}

.thumbnail {
  max-width: 100px;
  max-height: 250px;
}

.metadata-container {
  max-width: 185px;
  margin-top: 15px;
}

label {
  display: block;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  line-height: 1.5em;
}
