<mat-toolbar color="primary">
  <mat-toolbar-row class="search-box-container">
    <div fxFill fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
      <div fxFlex="100" fxFlex.gt-sm="700px">
        <app-search-box [hints]="search.hints" (searchSelected)="searchSelected.emit($event)" (query)="query.emit($event)" (hintSelected)="addFilter.emit($event)"
          (debugChanged)="debugChanged.emit($event)"></app-search-box>
      </div>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="search.filters?.length > 0" class="filters-container">
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-chip-list *ngFor="let filter of search.filters">
        <mat-chip color="accent" [selected]="filter.enabled" (click)="toggleFilter.emit(filter)" (removed)="removeFilter.emit(filter)">
          <div fxLayout="row" fxLayoutAlign="start center">
            <mat-icon>{{filter.type}}</mat-icon>
            <div>
              {{filter.label}}
            </div>
          </div>
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
    <app-debug [isDebugOn]="isDebugOn" [href]="search.searchResult.selfLink?.href"></app-debug>
    <div>
      <mat-form-field [floatLabel]="'never'">
        <mat-select panelClass="mediaTypeOptions" [formControl]="mediaType" placeholder="Mediatyper" (selectionChange)="mediaTypeChanged.emit($event.value)">
          <mat-select-trigger>
            <div class="mediaType">{{mediaType.value}}</div>
          </mat-select-trigger>
          <mat-option [value]="">
            Alle
          </mat-option>
          <mat-option [value]="search.searchResult.books.mediaType">
            <app-media-type-option [mediaType]="search.searchResult.books.mediaType" [count]="search.searchResult.books.counts"></app-media-type-option>
          </mat-option>
          <mat-option [value]="search.searchResult.newspapers.mediaType">
            <app-media-type-option [mediaType]="search.searchResult.newspapers.mediaType" [count]="search.searchResult.newspapers.counts"></app-media-type-option>
          </mat-option>
          <mat-option [value]="search.searchResult.photos.mediaType">
            <app-media-type-option [mediaType]="search.searchResult.photos.mediaType" [count]="search.searchResult.photos.counts"></app-media-type-option>
          </mat-option>
          <mat-option [value]="search.searchResult.periodicals.mediaType">
            <app-media-type-option [mediaType]="search.searchResult.periodicals.mediaType" [count]="search.searchResult.periodicals.counts"></app-media-type-option>
          </mat-option>
          <mat-option [value]="search.searchResult.maps.mediaType">
            <app-media-type-option [mediaType]="search.searchResult.maps.mediaType" [count]="search.searchResult.maps.counts"></app-media-type-option>
          </mat-option>
          <mat-option [value]="search.searchResult.musicBooks.mediaType">
            <app-media-type-option [mediaType]="search.searchResult.musicBooks.mediaType" [count]="search.searchResult.musicBooks.counts"></app-media-type-option>
          </mat-option>
          <mat-option [value]="search.searchResult.musicManuscripts.mediaType">
            <app-media-type-option [mediaType]="search.searchResult.musicManuscripts.mediaType" [count]="search.searchResult.musicManuscripts.counts"></app-media-type-option>
          </mat-option>
          <mat-option [value]="search.searchResult.posters.mediaType">
            <app-media-type-option [mediaType]="search.searchResult.posters.mediaType" [count]="search.searchResult.posters.counts"></app-media-type-option>
          </mat-option>
          <mat-option [value]="search.searchResult.privateArchives.mediaType">
            <app-media-type-option [mediaType]="search.searchResult.privateArchives.mediaType" [count]="search.searchResult.privateArchives.counts"></app-media-type-option>
          </mat-option>
          <mat-option [value]="search.searchResult.programReports.mediaType">
            <app-media-type-option [mediaType]="search.searchResult.programReports.mediaType" [count]="search.searchResult.programReports.counts"></app-media-type-option>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field [floatLabel]="'never'">
        <mat-select panelClass="sortOptions" [formControl]="sortControl" placeholder="Sortering" (selectionChange)="sortChanged.emit($event.value)">
          <mat-option *ngFor="let sortOption of sortOptions" [value]="sortOption.value">
            {{ sortOption.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</mat-toolbar>
