mat-chip {
  cursor: pointer !important;
}

::ng-deep .mat-select-value-text {
  font-family: 'Roboto Condensed' !important;
}

::ng-deep .mat-option-text {
  font-family: 'Roboto Condensed';
}

.mediaType {
  text-transform: capitalize;
}

.mediaTypeSelect {
  min-width: 250px;
}

.genre-container {
  margin-left: 8px;
}

.sort-container {
  margin-left: 8px;
}

.search-options-container {
  overflow-x: auto;
  overflow-y: hidden;
}
