<div fxFill fxLayout="column" fxLayoutAlign="center center">
  <a routerLink="/home"><mat-icon class="mat-h2 logo" svgIcon="logo"></mat-icon></a>
  <div class="mat-h1">NBDIGI</div>
  <div class="mat-h2">Tilbakestill passord</div>
  <form class="reset-password-form" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" novalidate>
    <div fxLayout="column">
      <mat-form-field>
        <input type="text" matInput formControlName="email" placeholder="E-post">
        <mat-error *ngIf="email.errors?.userNotFound">Finner ikke bruker</mat-error>
        <mat-error *ngIf="email.errors?.invalidEmail">Ugyldig e-post</mat-error>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary" [disabled]="resetPasswordForm.pristine || !resetPasswordForm.valid">Send</button>
    </div>
  </form>
</div>