<button mat-icon-button [matMenuTriggerFor]="menu">
  <ng-container [ngSwitch]="config.direction">
    <mat-icon *ngSwitchCase="'horiz'">more_horiz</mat-icon>
    <mat-icon *ngSwitchDefault>more_vert</mat-icon>
  </ng-container>
</button>
<mat-menu #menu="matMenu">
  <button *ngIf="config.enableOpen" mat-menu-item (click)="open()">
    <mat-icon>open_in_browser</mat-icon>
    <span>Les</span>
  </button>
  <button *ngIf="config.enableShowDetails" mat-menu-item (click)="openItemDetails()">
    <mat-icon>info</mat-icon>
    <span>Detailjer</span>
  </button>
  <button mat-menu-item (click)="addToFavorites()">
    <mat-icon>playlist_add</mat-icon>
    <span>Legg til i liste</span>
  </button>
  <button *ngIf="list" mat-menu-item (click)="removeFromFavorites()">
    <mat-icon>delete</mat-icon>
    <span>Fjern fra listen</span>
  </button>
</mat-menu>
