@import '~@angular/material/theming';
@import './../theme.scss';

.app-container,
.main-container {
  height: calc(100%);
}

.main-content {
  overflow: auto;
  @media (max-width: 600px) {
    height: calc(100% - 56px);
  }
  @media (min-width: 601px) {
    height: calc(100% - 64px);
  }
  @media (min-width: 1279px) {
    height: calc(100%);
  }
}

.menu-toolbar {
  border-style: solid;
  border-color: mat-color($default-primary) transparent transparent transparent;
}

.inactive {
  opacity: 0.87;
}

.active {
  color: #18ffff !important;
  opacity: 1 !important;
}

.logo {
  margin-top: 0px !important;
  height: 24px !important;
  width: 20px !important;
  margin-right: 4px;
}
