<div [ngClass]="currentTheme" class="app-container">
  <mat-sidenav-container class="main-container">
    <mat-sidenav *ngIf="!mobileQuery.matches" mode="side" opened [disableClose]="true">
      <mat-nav-list>
        <a mat-list-item routerLink="/home">
          <mat-icon class="logo mat-icon material-icons" svgIcon="logo"></mat-icon>NBDigi</a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/home" routerLinkActive="active" class="inactive">
          <mat-icon>home</mat-icon>Hjem</a>
        <a mat-list-item routerLink="/explore" routerLinkActive="active" class="inactive">
          <mat-icon>explore</mat-icon>Utforsk</a>
        <a mat-list-item routerLink="/search" routerLinkActive="active" class="inactive">
          <mat-icon>search</mat-icon>Søk</a>
        <a mat-list-item routerLink="/mylibrary" routerLinkActive="active" class="inactive">
          <mat-icon>favorite</mat-icon>Mitt bibliotek</a>
        <a mat-list-item routerLink="/myactivity" routerLinkActive="active" class="inactive">
          <mat-icon>person</mat-icon>Min aktivitet</a>
      </mat-nav-list>

    </mat-sidenav>
    <mat-sidenav-content>
      <div fxFill fxLayout="column" fxLayoutAlign="start stretch">
        <div class="main-content">
          <router-outlet></router-outlet>
        </div>
        <mat-toolbar *ngIf="mobileQuery.matches" class="menu-toolbar">
          <div fxFill fxLayout="row" fxLayoutAlign="start center" fxLayoutAlign.lt-lg="space-between center" fxLayoutGap="16px">
            <button routerLinkActive="active" mat-icon-button routerLink="/home" matTooltip="Hjem" aria-label="Hjem" class="inactive">
              <mat-icon>home</mat-icon>
            </button>
            <button routerLinkActive="active" mat-icon-button routerLink="/explore" matTooltip="Utforsk" aria-label="Utforsk" class="inactive">
              <mat-icon>explore</mat-icon>
            </button>
            <button routerLinkActive="active" mat-icon-button routerLink="/search" matTooltip="Søk" aria-label="Søk" class="inactive">
              <mat-icon>search</mat-icon>
            </button>
            <button routerLinkActive="active" mat-icon-button routerLink="/mylibrary" matTooltip="Mitt bibliotek" aria-label="Mitt bibliotek"
              class="inactive">
              <mat-icon>favorite</mat-icon>
            </button>
            <button routerLinkActive="active" mat-icon-button routerLink="/myactivity" matTooltip="Min aktivitet" aria-label="Min aktivitet"
              class="inactive">
              <mat-icon>person</mat-icon>
            </button>
          </div>
        </mat-toolbar>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
