<div [ngClass]="currentTheme" class="app-container">
  <mat-sidenav-container class="main-container">
    <mat-sidenav-content>
      <div fxFill fxLayout="column" fxLayoutAlign="start stretch">
        <div class="main-content">
          <router-outlet></router-outlet>
        </div>
        <mat-toolbar>
          <div fxFill fxLayout="row" fxLayoutAlign="start center" fxLayoutAlign.lt-lg="space-between center" fxLayoutGap="16px">
            <button color="primary" routerLinkActive="accent" mat-icon-button routerLink="/home" matTooltip="Hjem" aria-label="Hjem">
              <mat-icon>home</mat-icon>
            </button>
            <button color="primary" routerLinkActive="accent" mat-icon-button routerLink="/explore" matTooltip="Utforsk" aria-label="Utforsk">
              <mat-icon>explore</mat-icon>
            </button>
            <button color="primary" routerLinkActive="accent" mat-icon-button routerLink="/search" matTooltip="Søk" aria-label="Søk">
              <mat-icon>search</mat-icon>
            </button>
            <button color="primary" routerLinkActive="accent" mat-icon-button routerLink="/mylibrary" matTooltip="Mitt bibliotek" aria-label="Mitt bibliotek">
              <mat-icon>favorite</mat-icon>
            </button>
            <button color="primary" routerLinkActive="accent" mat-icon-button routerLink="/myactivity" matTooltip="Min aktivitet" aria-label="Min aktivitet">
              <mat-icon>person</mat-icon>
            </button>
          </div>
        </mat-toolbar>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
