mat-drawer-container {
  overflow: inherit;
  mat-drawer {
    top: 5px;
    overflow: inherit;
    background: transparent !important;
  }
}

.progress-bar {
  padding: 4px;
}

.search-result-container {
  margin: 4px;
}

mat-chip {
  margin-right: 4px;
}

.filters-container {
  overflow-x: auto;
}

.search-results {
  height: 100px;
  overflow-y: scroll;
}

.others-mediatype-container {
  padding-top: 10px;
  overflow-x: auto;
}

.chart {
  max-height: 200px;
}

.fix-top {
  position: sticky !important;
  //right: 20px !important;
  float: right;
  width: 325px;
  height: calc(100%);
  overflow: visible;
}
