<div fxLayout="column">
  <h3>Lag ny liste</h3>
  <form
    class="add-list-form"
    [formGroup]="listForm"
    (ngSubmit)="addList($event)"
    novalidate
  >
    <mat-form-field>
      <input
        #listname
        matInput
        formControlName="listName"
        placeholder="Navn"
        autocomplete="off"
      />
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
      <button mat-button type="button" (click)="cancelSelected.emit()">
        Avbryt
      </button>
      <button mat-button type="submit">Lagre</button>
    </div>
  </form>
</div>
