.my-library-container {
  height: calc(100% - 64px);
}

mat-drawer-container {
  height: 100%;
  overflow: inherit;
  mat-drawer {
    overflow: inherit;
    background: transparent !important;
  }
}

.fix-sticky {
  top: 0px;
}

.not-sticky {
  top: 5px;
}
