@use '@angular/material' as mat;
@use 'sass:map';

@mixin nbd-app-theme($theme) {
  $primary: map.get($theme, primary);

  .menu-toolbar {
    border-style: solid;
    border-color: mat.get-color-from-palette($primary) transparent transparent
      transparent;
  }
}
