<div fxFill fxLayout="column" fxLayoutAlign="center center">
  <a routerLink="/home"
    ><mat-icon class="mat-h2 logo" svgIcon="logo"></mat-icon
  ></a>
  <div class="mat-h1">NBDIGI</div> <div class="mat-h2">Opprett konto</div>
  <form
    class="sign-up-form"
    [formGroup]="signUpForm"
    (ngSubmit)="signUp()"
    novalidate
  >
    <div fxLayout="column">
      <mat-form-field>
        <input
          type="text"
          matInput
          formControlName="email"
          placeholder="E-post"
        />
        <mat-error *ngIf="email.errors?.invalidEmail">Ugyldig e-post</mat-error>
        <mat-error *ngIf="email.errors?.emailAlreadyInUse"
          >E-post adressen er registret fra før</mat-error
        >
      </mat-form-field>
      <mat-form-field>
        <input
          type="password"
          matInput
          formControlName="password"
          placeholder="Passord"
        />
        <mat-error *ngIf="password.errors?.weakPassword"
          >Passordet må være minst 6 tegn</mat-error
        >
      </mat-form-field>
      <mat-form-field>
        <input
          type="password"
          matInput
          formControlName="confirmPassword"
          placeholder="Bekreft passord"
        />
        <mat-error
          *ngIf="signUpForm.controls.confirmPassword.errors?.MatchPassword"
          >Passordene stemmer ikke overens</mat-error
        >
      </mat-form-field>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="signUpForm.pristine || !signUpForm.valid"
        >Opprett konto</button
      >
    </div>
  </form>
</div>
