<mat-card>
  <mat-card-content>
    <div fxLayout="column">
      <div lazy-load-images>
        <img class="thumbnail" [attr.data-src]="item.thumbnail">
      </div>
      <div class="metadata-container" fxLayout="column">
        <div class="truncate" [matTooltip]="item.title">
          {{item.title}}
        </div>
        <div class="truncate" [matTooltip]="item.creator">
          {{item.creator}}
        </div>
        <div class="truncate" [matTooltip]="item.issued">
          {{item.issued}}
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
