:host {
  cursor: pointer;
}

.thumbnail {
  height: 200px;
  width: 100%;
  object-fit: cover;
  margin-left: 4px;
  margin-top: 4px;
}

.metadata-container {
  padding: 4px;
  overflow: hidden;
}

.mat-card {
  padding: 0px !important;
  margin: 0px !important;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
