:host {
  cursor: pointer;
  padding: 2px;
}

.thumbnail {
  height: 200px;
  width: 100%;
  object-fit: cover;
  margin-top: 4px;
}

.metadata-container {
  font-family: 'Roboto Condensed';
  min-height: 59px;
  padding: 4px;
  overflow: hidden;
}

.mat-card {
  padding: 0px !important;
  margin: 0px !important;
}
