<section *ngIf="showIfEmpty || mediaTypeResults?.items.length > 0" class="item-section-container">
  <mat-toolbar *ngIf="showToolbar">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="row">
        <app-debug [isDebugOn]="isDebugOn" [href]="mediaTypeResults?.selfLink"></app-debug>
        <h1>{{label}}</h1>
      </div>
      <button *ngIf="showMoreButton" mat-button (click)="mediaTypeChanged.emit(mediaTypeResults.mediaType)" color="primary">VIS
        FLERE</button>
    </div>
  </mat-toolbar>
  <ng-container *ngIf="!asList">
    <div fxLayout="rov wrap" *ngIf="selected">
      <ng-container *ngFor="let item of mediaTypeResults?.items">
        <app-default-item-card [item]="item" [list]="list" fxFlex.xs="33.3" fxFlex.sm="20" fxFlex.md="20" fxFlex.lg="16.6" fxFlex.xl="10">
        </app-default-item-card>
      </ng-container>
    </div>
    <div fxLayout="rov wrap" *ngIf="!selected">
      <ng-container *ngFor="let item of mediaTypeResults?.items| slice:0:size">
        <app-default-item-card [item]="item" [list]="list" fxFlex.xs="33.3" fxFlex.sm="20" fxFlex.md="20" fxFlex.lg="16.6" fxFlex.xl="10">
        </app-default-item-card>
      </ng-container>
    </div>
  </ng-container>
  <ng-container *ngIf="asList">
    <div id="item-activity-component" fxLayout="column">
      <app-default-item-list *ngFor="let item of mediaTypeResults?.items | slice:0:10" [item]="item" [config]="{showMediaType: true}"></app-default-item-list>
    </div>
  </ng-container>
</section>
