<mat-toolbar>Utforsk</mat-toolbar>
<div class="genres">
    <mat-toolbar>Sjangre</mat-toolbar>
    <div class="genres-container" fxLayout.xs="column" fxLayout="row wrap" fxLayoutAlign.xs="start stretch" fxLayoutAlign=" center"
        fxLayoutGap="8px">
        <div *ngFor="let genreOption of genreOptions">
            <mat-card (click)="genreChanged.emit(genreOption)" class="genre-card">
                <mat-card-header>
                    <img mat-card-avatar [src]="genreOption.avatar">
                    <mat-card-title>{{genreOption.viewValue}}</mat-card-title>
                    <mat-card-subtitle class="mediaType">{{genreOption.mediaType}}</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </div>
    </div>
</div>
