<mat-list-item (click)="open(item)">
  <div matLine>
    <div fxLayout="row">
      <div fxFlex="100px">
        <img class="thumbnail" [lazyLoad]="item.thumbnail" />
      </div>
      <div class="truncate">
        <div class="metadata-container" fxLayout="column">
          <div class="title truncate" [matTooltip]="item.title">
            {{ item.title }}
          </div>
          <div
            *ngIf="config.showMediaType"
            class="truncate mediaType"
            [matTooltip]="item.mediaType"
          >
            {{ item.mediaType }}
          </div>
          <div class="truncate creator" [matTooltip]="item.creator">
            {{ item.creator }}
          </div>
          <div class="truncate issued" [matTooltip]="item.issued">
            {{ item.issued | dateFormat }}
          </div>
        </div>
        <nbd-debug [isDebugOn]="isDebugOn | async" [item]="item"></nbd-debug>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
</mat-list-item>
