mat-drawer-container {
  overflow: inherit;
  mat-drawer {
    overflow: inherit;
    background: transparent !important;
  }
  height: calc(100% - 64px);
}

.fix-sticky {
  top: 0px;
}

.not-sticky {
  top: 5px;
}
