<mat-toolbar>
  <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex>
    <div>
      <button mat-icon-button [routerLink]="['../']">
        <mat-icon>keyboard_backspace</mat-icon> </button
      >{{ list?.name }}
    </div>
    <div>
      <nbd-favorite-list-menu-button
        [favorite]="list"
      ></nbd-favorite-list-menu-button>
    </div>
  </div>
</mat-toolbar>
<div class="drawer-container">
  <mat-drawer-container>
    <mat-drawer
      appItemDetailsDrawer
      autosize="true"
      mode="side"
      position="end"
      [opened]="(showItemDetails | async) && media.isActive('gt-sm')"
    >
      <nbd-item-details></nbd-item-details>
    </mat-drawer>
    <mat-drawer-content>
      <nbd-items-section
        [showToolbar]="false"
        [list]="list"
        [mediaTypeResults]="items"
        [isDebugOn]="isDebugOn"
        tabindex="0"
      ></nbd-items-section>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
