::ng-deep mat-list-item .query {
  font-size: 16px !important;
}

::ng-deep mat-list-item .mediaType,
::ng-deep mat-list-item .sort,
::ng-deep mat-list-item .genre {
  font-size: 13px !important;
  line-height: 16px !important;
}

::ng-deep mat-list-item mat-chip {
  padding: 2px 7px !important;
}

::ng-deep mat-list-item .mediaType:first-letter {
  text-transform: capitalize;
}
