<mat-toolbar color="primary">
  <app-search-box fxFlex="100" (searchSelected)="searchSelected.emit($event)"></app-search-box>
</mat-toolbar>

<app-items-section [label]="'Forsett å lese'" [mediaTypeResults]="items" [showIfEmpty]="true" [isDebugOn]="isDebugOn" [rows]="1"
  tabindex="0"></app-items-section>
<app-items-section [label]="'Nye bøker'" [mediaTypeResults]="newBooks" [showMoreButton]="true" [isDebugOn]="isDebugOn" (mediaTypeChanged)="showMoreBooks.emit()"
  tabindex="0"></app-items-section>
<app-items-section [label]="'Nye aviser'" [mediaTypeResults]="newNewspapers" [showMoreButton]="true" [isDebugOn]="isDebugOn"
  (mediaTypeChanged)="showMoreNewspapers.emit()" tabindex="0"></app-items-section>
<app-items-section [label]="'Nye tidsskrift'" [mediaTypeResults]="newPeriodicals" [showMoreButton]="true" [isDebugOn]="isDebugOn"
  (mediaTypeChanged)="showMorePeriodicals.emit()" tabindex="0"></app-items-section>
<app-items-section [label]="'Nye bilder'" [mediaTypeResults]="newPhotos" [showMoreButton]="true" [isDebugOn]="isDebugOn"
  (mediaTypeChanged)="showMorePhotos.emit()" tabindex="0"></app-items-section>
