<mat-toolbar>
  <mat-toolbar-row class="search-box-container">
    <div fxFill fxLayout="row" fxLayoutAlign="space-between center">
      <div fxFlex>
        Min aktivitet
      </div>
      <div>
        <button mat-icon-button routerLink="/settings" matTooltip="Instillinger">
          <mat-icon>settings</mat-icon>
        </button>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<section class="my-activity-container">
  <mat-tab-group>
    <mat-tab label="Sett på">
      <app-item-activity [items]="items"></app-item-activity>
    </mat-tab>
    <mat-tab label="Søkt på">
      <app-search-activity></app-search-activity>
    </mat-tab>
  </mat-tab-group>
</section>
