/* You can add global styles to this file, and also import other style files */

html, 
body {
  font-family: Roboto, Arial, sans-serif;
  height: 100%;
  margin: 0;
}

.logo {
  margin-top: 16px !important;
  height: 85px !important;
  width: 85px !important;
}
