<ng-container *ngIf="mediaTypeResults && mediaTypeResults.items">
  <section
    *ngIf="showIfEmpty || mediaTypeResults.items.length > 0"
    class="item-section-container"
  >
    <mat-toolbar *ngIf="showToolbar">
      <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row">
          <nbd-debug
            [isDebugOn]="isDebugOn"
            [href]="mediaTypeResults?.selfLink"
          ></nbd-debug>
          <h1>{{ label }}</h1>
        </div>
        <button
          *ngIf="showMoreButton"
          mat-button
          (click)="mediaTypeChanged.emit(mediaTypeResults?.mediaType)"
          color="primary"
        >
          Vis alle
        </button>
      </div>
    </mat-toolbar>
    <ng-container *ngIf="!asList">
      <div fxLayout="rov wrap" *ngIf="selected">
        <ng-container *ngFor="let item of mediaTypeResults?.items">
          <nbd-default-item-card
            [item]="item"
            [list]="list"
            fxFlex.xs="33.3"
            fxFlex.sm="20"
            fxFlex.md="20"
            fxFlex.lg="12.5"
            fxFlex.xl="12.5"
          >
          </nbd-default-item-card>
        </ng-container>
      </div>
      <div *ngIf="!selected">
        <ngu-carousel
          #itemCarousel
          [inputs]="carouselConfig"
          [dataSource]="carouselItems"
        >
          <ngu-tile *nguCarouselDef="let item; let i = index">
            <nbd-default-item-card [item]="item"> </nbd-default-item-card>
          </ngu-tile>
          <button
            *ngIf="!itemCarousel.isFirst"
            mat-mini-fab
            NguCarouselPrev
            class="nav-button left"
          >
            <mat-icon>navigate_before</mat-icon>
          </button>
          <button
            *ngIf="!itemCarousel.isLast"
            mat-mini-fab
            NguCarouselNext
            class="nav-button right"
          >
            <mat-icon>navigate_next</mat-icon>
          </button>
        </ngu-carousel>
      </div>
    </ng-container>
    <ng-container *ngIf="asList">
      <div id="item-activity-component" fxLayout="column">
        <nbd-default-item-list
          *ngFor="let item of mediaTypeResults?.items | slice: 0:10"
          [item]="item"
          [config]="{ showMediaType: true }"
        ></nbd-default-item-list>
      </div>
    </ng-container>
  </section>
</ng-container>
