<mat-toolbar>
  <mat-toolbar-row> <div fxFlex> Innstillinger </div> </mat-toolbar-row>
</mat-toolbar>
<section class="settings-container">
  <div *ngIf="user" fxLayout="column">
    <div fxLayout="row" class="person">
      <mat-icon>person</mat-icon>
      <div> {{ user.email }} </div>
    </div>
    <div class="theme">
      <mat-slide-toggle
        (change)="theme($event)"
        [checked]="currentTheme === 'dark-theme'"
        >Mørkt tema</mat-slide-toggle
      >
    </div>
    <div class="logout">
      <button mat-raised-button color="primary" (click)="signOut.emit()"
        >Logg ut</button
      >
    </div>
  </div>
</section>
