@use '@angular/material' as mat;
@use 'sass:map';

@mixin styles-theme($theme) {
  $warn: map.get($theme, warn);

  snack-bar-container.error {
    background: mat.get-color-from-palette($warn);
    color: whitesmoke;
  }
}
