<section *ngIf="mediaTypeResults?.items.length > 0">
  <mat-toolbar *ngIf="showToolbar">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="row">
        <app-debug [isDebugOn]="isDebugOn" [href]="mediaTypeResults.selfLink"></app-debug>
        <h1>{{label}}</h1>
      </div>
      <button *ngIf="showMoreButton" mat-raised-button (click)="mediaTypeChanged.emit(mediaTypeResults.mediaType)" color="primary">VIS FLERE</button>
    </div>
  </mat-toolbar>
  <div fxLayout="rov wrap" *ngIf="selected">
    <ng-container *ngFor="let item of mediaTypeResults.items">
      <app-default-item-card [item]="item" fxFlex.xs="33.3" fxFlex.sm="20" fxFlex.md="12.5" fxFlex.lg="10" fxFlex.xl="10">
      </app-default-item-card>
    </ng-container>
  </div>
  <div fxLayout="rov wrap" *ngIf="!selected">
    <ng-container *ngFor="let item of mediaTypeResults.items| slice:0:size">
      <app-default-item-card [item]="item" fxFlex.xs="33.3" fxFlex.sm="20" fxFlex.md="12.5" fxFlex.lg="10" fxFlex.xl="10">
      </app-default-item-card>
    </ng-container>
  </div>
</section>
